<% @restaurants.each do |restaurant| %>
<tr>
  <td>
    <img src=<%= restaurant.logo %> width="30px"/>
    <%= link_to restaurant.name, restaurant.source_url %>
  </td>
  <td>
    <% restaurant.tags.each do |tag| %>
      <span class="label label-default"><%= tag %></span>
    <% end %>
  </td>
  <td><%= restaurant.delivery_time_min %> - <%= restaurant.delivery_time_max %>mins</td>
</tr>
<% end %>
