<header class="page-header">
  <%= render "shared/page_header" %>
</header>


<% if @restaurants.count == 0 %>
<div class="alert alert-danger text-center">
  <strong>Sorry. No Results Found. Try a different keyword.</strong>
    <p>Reminder: Currently only available in San Francisco, CA.</p>
</div>
<% end %>

<div class="row">
  <div class="col-md-3">
    <%= render "prepared_food_services" %>
    <%= render "restaurant_delivery_services" %>
    <%= render "shared/faqs" %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="pull-right">
          Results Found: <%= @restaurants.count %>
        </div>
        Restaurant Delivery

      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Tags</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <%= render "restaurant" %>
        </tbody>
      </table>
    </div>
  </div>
</div>
